<!DOCTYPE html>
<html>
<head>

  <title><%= @base.title %></title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/FMTSnowflake.gif" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><%= @base.title %></h1>
      <h1 class="big">Voter Guide</h1>
      <h1>Vote by <%= @base.date %></h1>
    </div>
    <div class="section" id="counselors">
      <div class="inner">
        <h1>Billings City Council</h1>
        <form id="search_form" class="grid-8 centered">
            <input placeholder="Enter Your Address" type="text" name="address">
            <button type="submit">Find Your Ward</button>
        </form>
        <div class="map_container">
          <div id="map_canvas"></div>
        </div>
        <% @districts.each do |district, candidates| %>
          <div class="district" data-district="<%= district %>">
            <h2>Ward <%= district %></h2>
            <% candidates.each do |counselor| %>
              <div class="counselor <%= "row-#{[nil,1,2][candidates.length]}" if candidates.length < 3 %>">
                <h2><%= counselor['name'] %></h2>
                <div class="img" style="background-image: url('<%= counselor["photo"] %>');" ></div>
                <% unless counselor['website'].empty? %>
                  <a target="_blank" class="fa fa-link" href="<%= counselor['website'] %>">Website</a>
                <% end %>
                <% unless counselor['facebook'].empty? %>
                  <a target="_blank" class="fa fa-facebook-square" href="<%= counselor['facebook'] %>">Facebook</a>
                <% end %>
                <div class="bio"><%= counselor['why'] %></div>
                <a class="vote_for" data-name="<%= counselor["name"] %>" data-link="/sharing/counselors/<%= district %>-<%= counselor['name'].downcase.gsub(' ','-').gsub(/[^a-zA-Z0-9\-]/,'') %>.html" data-office="Billings City Council" onclick="endorsementWidget(this)">endorse</a>
              </div>
            <% end %>
            <div class="issues">
              <div class="scroll">
                <table>
                <thead>
                  <tr>
                    <th></th>
                    <% candidates.each do |counselor| %>
                      <th class="head">
                        <div class="img" style="background-image: url('<%= counselor["photo"] %>');" ></div>
                        <h4><%= counselor["name"] %></h4>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @questions.each do |question| %>
                    <tr>
                      <td class="question">
                        <%= question.capitalize %>
                        <% if candidates.reject{ |ca| ca[question.downcase+'--moreinfo'].empty? }.length > 0 %>
                          <a class="click--read-more" href="#">more info</a>
                        <% end %>
                      </td>
                        <% candidates.each do |counselor| %>
                          <td>
                            <%= counselor[question.downcase] %>
                            <% unless counselor[question.downcase+'--moreinfo'].empty? %>
                              <p class="the--read-more">
                                <%= counselor[question.downcase+'--moreinfo'] %>
                              </p>
                            <% end %>
                          </td>
                        <% end %>
                    </tr>
                  <% end %>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="section">
      <div class="inner">
        <div class="about">
          <h3>Brought to you by</h3>
          <div class="grid-12 clear">
            <a target="_blank" href="http://forwardmontana.org/"><img class="grid-6 push-3" src="/images/logo.png"></a>
          </div>
          <p style="font-size: 0.75em; text-align: center" class="grid-11 centered gutter-top clear">And you can find all the <a href="<%= @base.repo %>" target="_blank">code and whatever right here</a> and oh yeah it was built by <a target="_blank" href="http://scottduncombe.com">this person</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/javascripts/turf.min.js"></script>
  <script type="text/javascript" src="/javascripts/tinyxhr.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59932015-4', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
