<!DOCTYPE html>
<html>
<head>

  <title><%= @base.title %></title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><%= @base.title %></h1>
      <h1 class="big">Voter Guide</h1>
      <h1>Vote by <%= @base.date %></h1>
    </div>
    <div class="section">
      <div class="inner">
        <div class="about">
          <p>This independent voter guide is designed to give you the quickest, most important information on your ballot and why it’s important to vote.</p>

          <h3>About What’s Inside</h3>
          <p>This non-partisan voter guide was developed around the Seattle Youth Agenda, a set of issues prioritized through surveying youth across Seattle and in collaboration with other youth organizations. We asked candidates questions about the Youth Agenda Issues; police accountability, housing accessibility, climate justice and youth employment.  The guide includes responses from city council candidates and information on ballot measures. This guide should not be viewed as an endorsement of any candidates or ballot measures. To get a more comprehensive voter guide, visit seattlevoterguide.org.</p>
          <br />

          <h3>Brought to you by</h3>
          <div class="grid-12 clear">
            <a target="_blank" href="htttp://neweracoloradoaction.org"><img class="grid-6 push-3" src="/images/logo.png"></a>
          </div>
          <p class="clear" style="margin-top: 100px;"><a href="http://washingtonbus.org/">The Washington Bus</a> is a non-partisan, non-profit, youth-driven organization that increases political access and participation for young people across Washington State. The Bus engages young people on their own terms, and helps them build their own power through political education, civic and cultural engagement, and hands-on democracy. We are of young people, by young people, for all people.</p>

          <p style="font-size: 0.75em; text-align: center" class="grid-11 centered gutter-top clear">And you can find all the <a href="<%= @base.repo %>" target="_blank">code and whatever right here</a> and oh yeah it was built by <a target="_blank" href="http://scottduncombe.com">this person</a>.</p>
        </div>
      </div>
    </div>
    <div class="section" id="counselors">
      <div class="inner">
        <h1><%= @base.city %> City Council</h1>
        <form id="search_form" class="grid-8 centered">
            <input placeholder="Enter Your Address" type="text" name="address">
            <button type="submit">Find Your District</button>
        </form>
        <div class="map_container">
          <div id="map_canvas"></div>
        </div>
        <% @districts.each do |district, candidates| %>
          <div class="district" data-district="<%= district %>">
            <h2>District <%= district %>: <%= candidates.first['title'] %></h2>
            <% candidates.each do |counselor| %>
              <div class="counselor <%= "row-#{[nil,1,2][candidates.length]}" if candidates.length < 3 %>">
                <h2><%= counselor['name'] %></h2>
                <div class="img" style="background-image: url('<%= counselor["photo"] %>');" ></div>
                <div class="bio">
                  <p><%= counselor['bio'] %></p>
                  <p><strong>Supporters</strong>:</p>
                  <ul>
                    <% counselor['supporters'].each do |supporter| %>
                      <li><%= supporter.capitalize %></li>
                    <% end %>
                  </ul>
                  <br/>
                  <p><strong>Tell us in a tweet, what are the greatest climate justice issues facing Seattle?</strong></p>
                  <p><%= counselor['tweet'] %></p>
                </div>
                <a class="vote_for" data-name="<%= counselor["name"] %>" data-link="/sharing/counselors/<%= district %>-<%= counselor['name'].downcase.gsub(' ','-').gsub(/[^a-zA-Z0-9\-]/,'') %>.html" data-office="Billings City Council" onclick="endorsementWidget(this)">endorse</a>
              </div>
            <% end %>
            <div class="issues">
              <div class="scroll">
                <table>
                <thead>
                  <tr>
                    <th></th>
                    <% candidates.each do |counselor| %>
                      <th class="head">
                        <div class="img" style="background-image: url('<%= counselor["photo"] %>');" ></div>
                        <h4><%= counselor["name"] %></h4>
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @questions.each do |question| %>
                    <tr>
                      <td class="question">
                        <%= question.capitalize %>
                      </td>
                        <% candidates.each do |counselor| %>
                          <td>
                            <%= counselor[question.downcase] %>
                          </td>
                        <% end %>
                    </tr>
                  <% end %>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="measures section">
      <div class="inner">
        <h1>Ballot Measures</h1>
        <% @measures.each do |title, choices| %>
          <div class="measure" id="!<%= title.downcase.gsub(' ','-').gsub(/[^a-zA-Z0-9\-]/,'') %>">
              <h2><%= title %></h2>
              <h3>What it does</h3>
              <p><%= choices.first['description'] %></p>
              <% choices.each do |choice| %>
                <div class="choice">
                  <div class="thumb">
                    <span class="fa <%= choice['choice'] %> fa-thumbs-<%= choice['choice'] == "yes" ? "up" : "down" %>"></span>
                  </div>
                  <div class="explanation">
                    <h4>A <span class="yay-or-nay"><%= choice['choice'] %></span> Vote Means...</h4>
                    <p><%= choice['explanation'] %></p>
                  </div>
                  <a type="button" class="vote_for" data-name="<%=  choice['choice'].upcase %>" data-link="/sharing/measure/<%=  choice['choice']+'-'+title.downcase.gsub(' ','-').gsub(/[^a-zA-Z0-9\-]/,'') %>" data-office="<%= title %>" onclick="endorsementWidget(this)">endorse</a>
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/javascripts/turf.min.js"></script>
  <script type="text/javascript" src="/javascripts/tinyxhr.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59932015-4', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
